
body{
    background-color: rgba(255, 255, 255, 0.849);
    padding: auto 35px;
    font-family: Unbounded, calibri
}
p{
    font-family: Montserrat, 'sans serif';
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: Unbounded;
    text-align: center;
}
.images{
    width: 150px;
    border-radius: 5px;

}
.about-cards-container{
    display: flex;
    column-gap: 10px;
    row-gap: 30px;
    justify-content: center;
    margin: 50px 10px;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
}
.cards{
    padding: 50px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 10px;
    border: 2px solid rgb(238, 232, 232);
}
.name{
    font-size: 22px;
    font-weight: 600;
    font-family: lato, calibri ;
}
.job-title{
    width: 200px;
}
.story-container{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    row-gap: 50px;
    margin: 100px 10px;
    padding: 20px;
    flex-wrap: wrap;
}
.story-text p{
    max-width: 400px;
    text-wrap: wrap;
    line-height: 22px;
    padding: 30px;
}
.side-image img{
    max-width: 300px;
    min-width: 300px;
    
}

#heading-text{
    font-size: 60px;

}
.heading{
    margin-bottom: 50px;
    padding: 50px 90px;
    background-color: rgba(186, 113, 201, 0.322);
    color: white;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    column-gap: 15px;
}
.social-icons{
    width: 20px;
    box-shadow: 1px 1px 3px gray;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}
a{
    text-decoration: none; 
}

@media(max-width: 430px){
    
body{
    background-color: rgba(255, 255, 255, 0.849);
    padding: auto 35px;
}
h1,h2,h3{
    text-align: center;
}
.about-cards-container{
    display: flex;
    column-gap: 100px;
    justify-content: center;
    margin: 100px 10px;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
}
.cards{
    padding: 30px;
    margin: 5px;
}
.name{
    font-size: 20px;
    font-weight: 600;
}
.story-container{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin: 100px 10px;
    padding: 20px;
    flex-wrap: wrap;
}
.story-text p{
    max-width: 400px;
    text-wrap: wrap;
    line-height: 22px;
    padding: 30px;
}
.side-image img{
    width: 300px;
    
}
#heading-text{
    font-size: 40px;

}
.heading{
    margin-bottom: 50px;
    padding: 90px;
    background-color: rgba(186, 113, 201, 0.322);
    color: white;
}
.social-links{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.social-icons{
    width: 15px;
    padding: 3px;
}
a{
    text-decoration: none; 
}
}