footer{
    font-family:calibri, "san serif";
    font-size: 16px;
    font-weight: 500;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: pink;
    color: purple;
    row-gap: 50px;
    column-gap: 30px;
    padding: 60px;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    flex-wrap: nowrap;
}
footer .icons{
    width: 25px;
    height: 25px;
    border: none;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.603);

}
footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
footer input{
    width: 210px;
    height: 40px;
    border: none;
    outline: none;
}
footer button{
    width: 65px;
    height: 40px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 7, 90);
    border-radius: 3px;
}
.footer-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(31, 30, 30, 0.267);
}
.footer-socials{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 50px;
    column-gap: 30px;
}
.footer-contact img{
    width: 20px;
    height: 20px;
}
.footer-contact .contact-items{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.newsletter-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* @media screen 430px */
@media(max-width: 430px){
    footer{
        font-family: calibri, "san serif";
        font-size: 14px;
        font-weight: 500;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        background-color: pink;
        color: purple;
        row-gap: 40px;
    }
    .footer-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 16px;
        column-gap: 8px;
        row-gap: 5px;
        flex-wrap: nowrap;
    }
    footer .icons{
        width: 25px;
        height: 25px;
    }
    footer ul{
        margin-left: -30px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }
    footer input{
        width: 210px;
        height: 40px;
        border: none;
    }
    footer button{
        width: 65px;
        height: 35px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: rgb(67, 7, 90);
    }
    .footer-search-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin: 5px;
        border: none;
        padding: 5px 8px;
    }
    .footer-socials{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-top: 50px;
        column-gap: 30px;
    }
    .footer-contact img{
        width: 20px;
        height: 18px;
    }
    .footer-contact .contact-items{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }
}